@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* design untuk desktop style */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 55px;
    font-size: 15px;
    background-color: #374151;
    z-index: 23;
  }

  nav .logo {
    font-family: "Brush Script MT", cursive;
    font-size: 15px;
    color: aliceblue;
    cursor: pointer;
    transform: translateX(50px);
  }

  nav .menu {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    list-style: none;
    transform: translateX(-25px);
  }

  nav .menu .menu-area {
    /* padding: 10px 20px; */
  }

  nav .menu .menu-area li i {
    color: whitesmoke;
    transform: translateX(100%);
  }

  nav .menu .menu-area li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
  }

  main {
    display: flex;
  }

  section {
    float: left;
    width: 20%;
    background-color: #374151;
  }

  section .hastag-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transform: translateY(-125px);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25px;
  }

  section .hastag-box a {
    text-decoration: none;
    color: whitesmoke;
  }

  main section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75vh;
  }

  .container {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    float: right;
    height: auto;
    background-color: #f5f3ff;
    margin-top: 120px;
  }

  .container .card {
    width: 90%;
    height: 250px;
    background-color: whitesmoke;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(179, 170, 179, 1);
    -moz-box-shadow: 5px 5px 25px 0px rgba(179, 170, 179, 1);
    box-shadow: 5px 5px 25px 0px rgba(179, 170, 179, 1);
    /* border: 1px solid #374151; */
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .container .card img {
    width: 250px;
    height: 200px;
  }

  .container .card .content {
    padding: 25px;
  }

  .container .card .content .content-top {
    margin-bottom: 25px;
    transform: translateY(-25px);
  }

  .container .card .content .content-top h4 {
    font-size: 18px;
  }

  .container .card .content .content-top .star-top-right {
    width: 25%;
  }

  .container .card .content .content-top .star-top-right i {
    transform: translateX(2px);
  }

  .container .card .content .game-type {
    transform: translateY(-35px);
  }

  .container .card .content .content-text {
    transform: translateY(-35px);
  }

  .container .card .content button {
    width: 100%;
    transform: translateY(25px);
  }

  footer {
    display: none;
  }
}
